.App {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, #068b78 0%, #9ed79a 100%);
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: black;
  font-family: "Poppins", sans-serif;
  max-width: 600px;
  padding: 16px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
}

.App a {
  color: #ffcf5e;
}

.App img {
  height: auto;
  max-width: 100%;
}

.App .container {
  flex-direction: column;
  justify-content: space-evenly;
}
