.conversion .degree-input {
  font-size: 15px;
}

.conversion .card {
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
}

.fahrenheit {
  color: #ffcf5e;
}

.conversion {
  border-radius: 5px;
  border: 1px solid #dadde1;
  padding: 10px;
  margin-bottom: 5px;
}

.conversion .conversionalert {
  padding: 10px;
  margin-bottom: 5px;
}
