.conversion .card {
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
}

.conversion .degree-input {
  font-size: 15px;
}

.fahrenheit {
  color: #ffcf5e;
  margin-left: 30px;
}

.conversion {
  border-radius: 5px;
  border: 1px solid #dadde1;
  margin-bottom: 5px;
  padding: 10px;
}

.conversion .conversionalert {
  margin-bottom: 5px;
  padding: 10px;
}

.form-control {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 200px;
}
