.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 16px;
}

.Weather form {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Weather buttonCurrent {
  display: flex;
}

.Weather h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
}

.Weather h2 {
  color: rgb(65, 65, 65);
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  margin: 5px auto;
  margin-bottom: 10px;
  padding: 5px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: rgb(65, 65, 65);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.Weather li:first-letter {
  text-transform: capitalize;
}

.Weather img {
  display: block;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
  line-height: 1;
  position: relative;
  top: -34px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .btn-primary {
  background-color: #ffcf5e;
  border-color: #ffcf5e;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.Weather .btn-primary:hover {
  background-color: white;
  border-color: #ffcf5e;
  color: #ffcf5e;
  font-weight: bold;
  margin-left: 15px;
}

.Weather .btn-success {
  background-color: #ffdd67;
  border-color: #ffdd67;
  font-size: 14px;
  font-weight: bold;
}

.Weather .btn-success:hover {
  background-color: white;
  border-color: #ffdd67;
  color: #ffdd67;
  font-weight: bold;
}
