.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.Weather form {
  margin: 20px;
}

.Weather h1 {
  color: #878787;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin-right: 10px;
}
.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

.Weather canvas {
  margin: 10px auto;
}
